<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Forgot Password</h1>
<div  class="alert alert-danger">
    <span th:if="${usernameNotFound}"  th:text="${usernameNotFound}">Error</span>
</div>
<form th:action="@{/changePassword}" th:object="${user}"
      method="post">

    <table border="0" cellpadding="10">
        <tr>
            <td>Username:</td>
            <td><input type="text" th:field="*{username}" /></td>
        </tr>
        <tr>
            <td>New Password:</td>
            <td><input type="password" th:field="*{password}" /></td>
        </tr>
        <tr>
            <td colspan="2"><button type="submit">Confirm</button> </td>
        </tr>
    </table>
</form>
</div>
</body>
</html>